HL_Leasing_Dev/web/modules/gmmc_interface/finance_quota.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.aurora-framework.org/schema" targetNamespace="http://www.aurora-framework.org/schema" name="finance_quota">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.aurora-framework.org/schema" elementFormDefault="qualified">
                <xsd:element name="parameter">
                        <xsd:complexType>
                        </xsd:complexType>
                </xsd:element>
                <xsd:element name="soapResponse">
                        <xsd:complexType>
                                <xsd:sequence>
										<xsd:element name="content" type="xsd:string">
                                        </xsd:element>
                                </xsd:sequence>
                        </xsd:complexType>
                </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestmessage">
        <wsdl:part name="requestpart" element="tns:parameter"/>
    </wsdl:message>
    <wsdl:message name="responsemessage">
        <wsdl:part name="responsepart" element="tns:soapResponse"/>
    </wsdl:message>
    <wsdl:portType name="finance_quota_portType">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestmessage"/>
            <wsdl:output message="tns:responsemessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="finance_quota_binding" type="tns:finance_quota_portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute">
            <soap:operation soapAction="execute"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="finance_quota_service">
        <wsdl:port name="finance_quota_port" binding="tns:finance_quota_binding">
            <soap:address location="https://cf.hongling.sh.cn/uat/modules/gmmc_interface/finance_quota.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>